*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.menu{
    list-style: none;
    border: 1px solid #c0c0c0;
    float: left;
}

.menu li{
    position: relative;
    float: left;
    border-right: 1px solid #c0c0c0;
}

.menu li a{
    color: #333; 
    text-decoration: none; 
    padding: 5px 10px; 
    display: block;
}

