* {
    box-sizing: border-box;
}

body {
    background-color: violet;
}
.banner {
    width: 1120px;
    height: 860px;
    text-align: center;
    background-image: url(../img/city.jpeg);
    background-size: 1120px 860px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 300px;
}

h1, h2 {
    color: white;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: orange;
}